<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    <%- include('partials/navbar') %>

        
    <form action="/searchBar">
        <input type="text" name="search">
        <button>Search</button>
    </form>



    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Date of Birth</th>
                <th>Owner ID</th>
                <th>View Visits</th>
                <th>Edit Animal</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(row => { %>
                <tr>
                    <td><%= row.name %></td>
                    <td><%= row.breed %></td>
                    <td><%= row.dob.toISOString().slice(0,10)  %></td>
                    <td><%= row.owner_id %></td>
                    <td>
                        <a href="/visits?animal_id=<%= row.animal_id %>" class="btn btn-warning btn-sm">View</a>
                    </td>
                    <td>
                        <a href="/editAnimal?animal_id=<%= row.animal_id %>" class="btn btn-warning btn-sm">Update</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    
</body>
</html>
