<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>

    <a href="/animals">View Animals</a>
    <a href="/visits">View Visits</a>
    <a href="/addAnimal">Add Animal</a>
    <a href="/addVisits">Add Visit</a>
    <a href="/logout">Logout</a>
        
    <form action="/searchBar">
        <textarea name="search" cols="100"></textarea>
        <button>Search</button>
    </form>

    <% for(let row of data) { %>
        <span><%=row.animal_id%>, <%=row.name%>, <%=row.breed%>, <%=row.dob%></span>
        <br><br>
        <% } %>
    
</body>
</html>
