<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Animal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> Edit Animal </h1>

    <%- include('partials/navbar') %>
    <form method="POST">
        <input type="hidden" value="<%= animalInfo[0].animal_id%>" name="animal_id">
        Name: <br>
        <input type="text" value="<%= animalInfo[0].name %>" name = "name"><br><br>
        Breed: <br>
        <input type="text" value="<%= animalInfo[0].breed%>" name="breed"><br><br>
        Date of Birth: <br>
        <input type="date" value="<%= animalInfo[0].dob%>" name="dob"><br><br>
        Weight: <br>
        <input type="number" value="<%= animalInfo[0].weight%>" name="weight"><br><br>
        <button>Update</button>
    </form>

    <%- include('partials/footer') %>

</body>
</html>