<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Visits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Visit History for <%= rows.length > 0 ? rows[0].name : "Animal" %></h1>

        <%- include('partials/navbar') %>

        <div class="container mt-4">
            <div class="card bg-dark text-light shadow-lg p-4 rounded">
                <h3 class="mb-4"><%= rows.length > 0 ? rows[0].name : "Animal" %></h3>

     <table>
        <thead>
            <tr>
                <th>Animal ID</th>
                <th>Name</th>
                <th>Owner ID</th>
                <th>Breed</th>
                <th>Date of Birth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (rows.length > 0) { %>
                <tr>
                    <td><%= rows[0].animal_id %></td>
                    <td><%= rows[0].name %></td>
                    <td><%= rows[0].owner_id %></td>
                    <td><%= rows[0].breed %></td>
                    <td><%= rows[0].dob.toISOString().slice(0, 10) %></td>
                    <td>
                        <a href="/editAnimal?animal_id=<%= rows[0].animal_id %>" >Update</a>
                    </td>
                </tr>
            <% } else { %>
                <tr>
                    <td colspan="5">No animal found.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    
    <table>
        <thead>
            <tr>
                <th>Visit ID</th>
                <th>Owner ID</th>
                <th>Breed</th>
                <th>Date of Birth</th>
                <th>Visit Date</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <% if (rows.length > 0) { %>
                <% rows.forEach(row => { %>
                    <tr>
                        <td><%= row.visit_id %></td>
                        <td><%= row.owner_id %></td>
                        <td><%= row.breed %></td>
                        <td><%= row.dob.toISOString().slice(0, 10) %></td>
                        <td><%= row.visit_date.toISOString().slice(0, 10) %></td>
                        <td><%= row.reason %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="6">No visits found for this animal.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>